<!DOCTYPE html>
<html lang="ru"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>index_GB_eshop</title>
    <link href="./style/normalize.min.css" rel="stylesheet">
    <link href="./style/css" rel="stylesheet">
    <link href="./style/style.css" rel="stylesheet">
    <link href="./style/cf5d86799b.css" media="all" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <div class="container"><a class="logo header__logo" href="./index.html"><img src="./img/logo.png" alt="Logo">bran<span class="logo__d">d</span></a>
        <div class="header__search header-search">
          <div class="header-search__browse dropdown-menu"><span class="header-search__q">Browse</span>
            <div class="dropdown-menu__container">
              <div class="dropdown-menu__header"><a href="./index.html#">Women</a></div>
              <ul>
                <li><a href="./index.html#">Dresses</a></li>
                <li><a href="./index.html#">Tops</a></li>
                <li><a href="./index.html#">Sweaters/Knits</a></li>
                <li><a href="./index.html#">Jackets/Coats</a></li>
                <li><a href="./index.html#">Blazers</a></li>
                <li><a href="./index.html#">Denim</a></li>
                <li><a href="./index.html#">Leggings/Pants</a></li>
                <li><a href="./index.html#">Skirts/Shorts</a></li>
                <li><a href="./index.html#">Accessories</a></li>
              </ul>
              <div class="dropdown-menu__header"><a href="./index.html#">Men</a></div>
              <ul>
                <li><a href="./index.html#">Tees/Tank tops</a></li>
                <li><a href="./index.html#">Shirts/Polos</a></li>
                <li><a href="./index.html#">Sweaters</a></li>
                <li><a href="./index.html#">Sweatshirts/Hoodies</a></li>
                <li><a href="./index.html#">Blazers</a></li>
                <li><a href="./index.html#">Jackets/vests</a></li>
              </ul>
            </div>
          </div>
          <input class="header-search__input" type="search" placeholder="Search for Item...">
          <button class="header-search__submit" type="submit"><i class="fa fa-search"></i></button>
        </div>
        <div class="header__cartbox">
          <div class="cart dropdown-menu"><img class="cart__image" src="./img/cart.png" alt="Cart">
            <div class="cart__items-count">2</div>
            <div class="dropdown-menu__container">
              <ul class="cart__items">
                <li class="cart__item cart-item">
                     <a href="./product.html">
                         <img class="cart-item__img" src="./img/cart-item1.jpg" alt="Rebox Zane">
                    </a>
                  <div class="cart-item__text">
                       <a class="cart-item__head" href="./product.html">Rebox Zane</a>
                       <img class="cart-item__stars" src="./img/stars.png" alt="Rating">
                    <div class="cart-item__count-price"><span class="cart-item__count">1</span><i> x </i><span class="cart-item__price currency">250</span></div>
                  </div><a class="cart-item__delete" href="./index.html#item-delete"><i class="fa fa-times-circle"></i></a>
                </li>
                <li class="cart__item cart-item"><a href="./product.html"><img class="cart-item__img" src="./img/cart-item2.jpg" alt="Rebox Zane"></a>
                  <div class="cart-item__text"><a class="cart-item__head" href="./product.html">Rebox Zane</a><img class="cart-item__stars" src="./img/stars.png" alt="Rating">
                    <div class="cart-item__count-price"><span class="cart-item__count">1</span><i> x </i><span class="cart-item__price currency">250</span></div>
                  </div><a class="cart-item__delete" href="./index.html#item-delete"><i class="fa fa-times-circle"></i></a>
                </li>
              </ul>
              <div class="cart__total-price"><span class="total-price__total">TOTAL</span><span class="total-price__price currency">500.00</span></div><a class="cart__button button-second button-second--pink" href="./checkout.html">Checkout</a><a class="cart__button button-second" href="./shopcart.html">Go to Cart</a>
            </div>
          </div><a class="header__accaunt button-main" href="./index.html#">My Account <i class="fa fa-caret-down"></i></a>
        </div>
      </div>
    </header>
    <nav class="header-nav">
      <ul>
        <li class="mega-menu dropdown-menu active"><a href="./showcase.html">Home</a>
          <div class="dropdown-menu__container">
            <div class="mega-menu__wrapper">
              <div class="mega-menu__col mega-menu__col1">
                <div class="dropdown-menu__header"><a href="./showcase.html">Women</a></div>
                <ul>
                  <li><a href="./index.html#">Dresses</a></li>
                  <li><a href="./index.html#">Tops</a></li>
                  <li><a href="./index.html#">Sweaters/Knits</a></li>
                  <li><a href="./index.html#">Jackets/Coats</a></li>
                  <li><a href="./index.html#">Blazers</a></li>
                  <li><a href="./index.html#">Denim</a></li>
                  <li><a href="./index.html#">Leggings/Pants</a></li>
                  <li><a href="./index.html#">Skirts/Shorts</a></li>
                  <li><a href="./index.html#">Accessories</a></li>
                </ul>
              </div>
              <div class="mega-menu__col mega-menu__col2">
                <div class="dropdown-menu__header"><a href="./showcase.html">Women</a></div>
                <ul>
                  <li><a href="./showcase.html">Dresses</a></li>
                  <li><a href="./showcase.html">Tops</a></li>
                  <li><a href="./showcase.html">Sweaters/Knits</a></li>
                  <li><a href="./showcase.html">Jackets/Coats</a></li>
                </ul>
                <div class="dropdown-menu__header"><a href="./showcase.html">Women</a></div>
                <ul>
                  <li><a href="./index.html#">Dresses</a></li>
                  <li><a href="./index.html#">Tops</a></li>
                  <li><a href="./index.html#">Sweaters/Knits</a></li>
                </ul>
              </div>
              <div class="mega-menu__col mega-menu__col3">
                <div class="dropdown-menu__header"><a href="./showcase.html">Women</a></div>
                <ul>
                  <li><a href="./showcase.html">Dresses</a></li>
                  <li><a href="./showcase.html">Tops</a></li>
                  <li><a href="./showcase.html">Sweaters/Knits</a></li>
                  <li><a href="./showcase.html">Jackets/Coats</a></li>
                </ul><a class="mega-menu__img" href="./product.html"><img src="./img/mm-subersale.jpg" alt="Super Sale!">
                  <div class="mega-menu__img-slogan">Super sale!</div></a>
              </div>
            </div>
          </div>
        </li>
        <li><a href="./showcase.html">Man</a></li>
        <li><a href="./showcase.html">Women</a></li>
        <li><a href="./showcase.html">Kids</a></li>
        <li><a href="./showcase.html">Accoseriese</a></li>
        <li><a href="./showcase.html">Featured</a></li>
        <li><a href="./showcase.html">Hot Deals</a></li>
      </ul>
    </nav>
     <a class="main-slider container" href="./index.html#"><img src="./img/slider-main.jpg" alt="Slider">
      <article class="main-slider__container">
        <div class="main-slider__text">
          <h1 class="main-slider__text--h1">The Brand</h1>
          <h2 class="main-slider__text--h2">of luxerious <span class="color-pink">fashion</span></h2>
        </div>
      </article>
      </a>
    <div class="main-categories container">
      <article class="main-categories__block offer-block"><a href="./showcase.html"><img class="offer-block__image" src="./img/offer-women.jpg" alt="Women">
          <div class="offer-block__text">
            <div class="offer-block__desc">30% Offer</div>
            <h2 class="offer-block__name">Women</h2>
          </div></a></article>
      <article class="main-categories__block offer-block"><a href="./showcase.html"><img class="offer-block__image" src="./img/offer-man.jpg" alt="For men">
          <div class="offer-block__text">
            <div class="offer-block__desc">Hot deal</div>
            <h2 class="offer-block__name">For men</h2>
          </div></a></article>
      <article class="main-categories__block offer-block"><a href="./showcase.html"><img class="offer-block__image" src="./img/offer-child.jpg" alt="For kids">
          <div class="offer-block__text">
            <div class="offer-block__desc">New arrivals</div>
            <h2 class="offer-block__name">For kids</h2>
          </div></a></article>
      <article class="main-categories__block offer-block"><a href="./showcase.html"><img class="offer-block__image" src="./img/offer-acc.jpg" alt="Accessories">
          <div class="offer-block__text">
            <div class="offer-block__desc">Luxirous &amp; trendy</div>
            <h2 class="offer-block__name">Accessories</h2>
          </div></a></article>
    </div>
    <section class="main-featured featured-items container">
      <h2 class="featured-items__title">Featured Items</h2>
      <div class="featured-items__desc">Shop for items based on what we featured in this week</div>
      <div class="featured-items__products-list products-list products-list--featured">
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item1.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item2.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item3.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item4.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item5.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item6.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item7.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item8.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item1.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item1.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item2.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
          <article class="products-list-item"><a class="products-list-item__link" href="./product.html"><img class="products-list-item__image" src="./img/featured-item3.jpg" alt="Mango people t-shirt">
              <h2 class="products-list-item__name">Mango people t-shirt</h2>
              <div class="products-list-item__cost currency">52.00</div></a><a class="products-list-item__cart" href="./shopcart.html">Add to cart</a></article>
      </div>
      <a class="main-featured__button button-main" href="./showcase.html">Browse all products <i class="fa fa-long-arrow-right"></i></a>
    </section>
    <aside class="main-offer container"><a class="main-offer__link" href="./index.html"><img class="main-offer__image" src="./img/footer-banner.jpg" alt="Offer">
        <div class="main-offer__text">
          <div class="main-offer__text--h1">30% <span class="color-pink">offer</span></div>
          <div class="main-offer__text--h2">for women</div>
        </div>
        <ul class="main-offer__wrapper offers offers--column">
          <li class="main-offer-item offer-item"><img class="offer-item__img" src="./img/offer-delivery.png" alt="Free delivery">
            <div class="offer-item__text">
              <div class="offer-item__name">Free delivery</div>
              <div class="offer-item__desc">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</div>
            </div>
          </li>
          <li class="main-offer-item offer-item"><img class="offer-item__img" src="./img/offer-sales.png" alt="Sales &amp; discounts">
            <div class="offer-item__text">
              <div class="offer-item__name">Sales &amp; discounts</div>
              <div class="offer-item__desc">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</div>
            </div>
          </li>
          <li class="main-offer-item offer-item"><img class="offer-item__img" src="./img/offer-quality.png" alt="Quality assurance">
            <div class="offer-item__text">
              <div class="offer-item__name">Quality assurance</div>
              <div class="offer-item__desc">Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</div>
            </div>
          </li>
        </ul></a>
    </aside>
    <aside class="subrevs">
      <div class="container">
        <div class="subrevs__block">
          <div class="reviews"><img class="reviews__image" src="./img/user1.png" alt="User photo">
            <div class="reviews__text">“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”
              <div class="reviews__author reviev-author">
                <div class="reviev-author__name">Bin Burhan</div>
                <div class="reviev-author__desc">Dhaka, Bd</div>
              </div>
              <ul class="reviews__paginator">
                <li class="rev1"><a href="./index.html#rev1"></a></li>
                <li class="active"><a href="./index.html#active"></a></li>
                <li class="rev3"><a href="./index.html#rev3"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="subrevs__block">
          <div class="subscribe">
            <div class="subscribe__h1">Subscribe</div>
            <div class="subscribe__h2">FOR OUR NEWLETTER AND PROMOTION</div>
            <div class="subscribe__input">
              <input class="text" type="email" placeholder="Enter Your Email">
              <button class="button" type="submit">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <div class="about container">
      <div class="about__text"><a class="about__logo logo" href="./index.html"><img src="./img/logo.png" alt="Logo">bran<span class="logo__d">d</span></a>
        <p>Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.</p>
        <p>Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies.<br>Dynamically optimize.</p>
      </div>
      <nav class="about__menu">
        <h2>Company</h2>
        <ul>
          <li><a href="./showcase.html">Home</a></li>
          <li><a href="./showcase.html">Shop</a></li>
          <li><a href="./showcase.html">About</a></li>
          <li><a href="./showcase.html">How it works</a></li>
          <li><a href="./showcase.html">Contact</a></li>
        </ul>
      </nav>
      <nav class="about__menu">
        <h2>Information</h2>
        <ul>
          <li><a href="./showcase.html">Tearms &amp; Condition</a></li>
          <li><a href="./showcase.html">Privacy Policy</a></li>
          <li><a href="./showcase.html">How to Buy</a></li>
          <li><a href="./showcase.html">How to Sell</a></li>
          <li><a href="./showcase.html">Promotion</a></li>
        </ul>
      </nav>
      <nav class="about__menu">
        <h2>Shop Category</h2>
        <ul>
          <li><a href="./showcase.html">Men</a></li>
          <li><a href="./showcase.html">Women</a></li>
          <li><a href="./showcase.html">Child</a></li>
          <li><a href="./showcase.html">Apparel</a></li>
          <li><a href="./showcase.html">Brows All</a></li>
        </ul>
      </nav>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer__copy">© 2017 Brand  All Rights Reserved.</div>
        <div class="footer__socials"><a href="./index.html" title="facebook"><i class="fa fa-facebook"></i></a><a href="./index.html" title="twitter"><i class="fa fa-twitter"></i></a><a href="./index.html" title="linkedin"><i class="fa fa-linkedin"></i></a><a href="./index.html" title="pinterest-p"><i class="fa fa-pinterest-p"></i></a><a href="./index.html" title="google-plus"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </footer>
  <script src="js/sendToServer.js"></script>
</body></html>